.newsfeed-container {
  width: 100%;
}

.carousel-container {
  margin-bottom: 10px;
  padding: 10px;
}

.carousel-image {
  border-radius: 10px;
  height: 100px;
  object-fit: cover;
  width: 100%;
}

.trending-coins-container {
  padding: 10px 20px;
  text-align: center;
}

.trending-coins-container h2 {
  margin-bottom: 5px;
  margin-top: -10px;
  color: white;
}

.trending-coins-row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scrollbar-width: none;
}

.trending-coins-row::-webkit-scrollbar {
  display: none;
}

.coin-card {
  flex: 0 0 auto;
  width: calc(100% / 4 - 10px);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  background-color: #FAF9F6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  height: auto;
}

.coin-card h3 {
  margin-bottom: 3px;
  font-size: 0.8em;
}

.coin-card p {
  margin: 2px 0;
  font-size: 0.7em;
}

.coin-header {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.coin-logo {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.coin-name {
  font-size: 0.8em;
}

.sparkline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.sparkline-image {
  max-width: 60px;
  max-height: 30px;
  width: 100%;
  height: auto;
}

.news-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px 20px;
  margin-top: -10px;
}

.news-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.news-link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.news-image {
  width: 20%;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

.news-details {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.news-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.news-meta {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: #e2e0e0;
}

.news-views {
  margin-right: 5px;
}

@media (max-width: 600px) {
  .trending-coins-container {
    padding: 10px;
  }

  .trending-coins-container h2 {
    margin-bottom: 3px;
    margin-top: -25px;
  }

  .trending-coins-row {
    gap: 8px;
  }

  .coin-card {
    width: calc(100% / 3 - 8px);
    padding: 3px;
    margin-top: -1px;
  }

  .coin-card h3 {
    font-size: 0.7em;
  }

  .coin-card p {
    font-size: 0.6em;
  }

  .coin-logo {
    width: 18px;
    height: 18px;
  }

  .news-section {
    padding-left: 10px;
  }

  .news-item {
    margin-left: 0;
  }

  .news-image {
    width: 25%;
    height: auto;
    margin-right: 5px;
  }

  .news-title {
    font-size: 14px;
  }

  .news-meta {
    font-size: 10px;
  }
}

.positive-change {
  color: #2EBD85;
  font-weight: bold;
}

.negative-change {
  color: red;
  font-weight: bold;
}
