/* General styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  /*background-color: #f5f5f5; */
  /*color: #333; */
  height: 100vh; /* Ensure the body takes full viewport height */
  overflow-y: auto; /* Allow vertical scrolling */
  
}

/* Container for AI content */
.ai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  min-height: 100vh; /* Ensure the container takes full viewport height */
  /*background-color: white; */
  padding: 0 10px; /* Reduce top and bottom padding */
  box-sizing: border-box; /* Ensure padding is included in element's total width and height */
  margin: 0;
  padding-bottom: 50px; /* Add bottom padding to ensure content is not blocked */
}

/* Title styling */
.ai-title {
  font-size: 1.5rem; /* Increase font size */
  margin-top: -10px; /* Bring title closer to the GIF */
  margin-bottom: 5px; /* Reduce bottom margin */
  color: #d6b957;
  width: 100%; /* Ensure the title takes the full width of the container */
  text-align: center; /* Center the title text */
  line-height: 1.3; /* Adjust line height */
  font-weight: bold; /* Make the text bold */
}

/* Intro text styling */
.ai-intro {
  font-size: 1rem; /* Increase font size */
  width: auto; /* Ensure the intro container takes full width */
  max-width: 96%;
  box-sizing: border-box; /* Ensure padding is included in element's total width */
  margin: 5px auto; /* Reduce vertical margin */
  text-align: left; /* Left-align intro text */
  margin-top: 5%; /* Bring title closer to the GIF */
  /*margin-left: 10px;*/
  /*margin-right: 0px; */
  border: solid #444; /* Set border style and color */
  border-width: 1px 0 0 0; /* Top, right, bottom (none), left */
  padding: 10px; /* Add some padding for better spacing */
  background-color: #19191E; /* Dark background to match dark mode */
  color: #eee; /* Light text color for better contrast */
  border-radius: 8px 8px 0 0; /* Rounded corners only on the top */
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for a floating effect */
}



/* Paragraph styling within intro */
.ai-intro p {
  margin: 5px 0; /* Reduce vertical margin */
  line-height: 1.5; /* Increase line height */
}

/* Container for crypto analysis */
.crypto-analysis {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to the center */
  justify-content: flex-start; /* Justify items to the start */
  width: 100vw; /* Make the container full width */
  /*background-color: white; /* Updated background color */
  padding: 10px; /* Reduce padding */
  margin: 10px 0 10px 0; /* Remove left and right margins */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
  border-radius: 10px; /* Add border radius */
  box-sizing: border-box; /* Ensure padding is included in element's total width and height */
}

/* Input field container for floating label */
.input-container {
  position: relative;
  width: 100%;
}

/* Input field styling */
.crypto-input {
  width: 76%;
  padding: 12px;
  margin-top: 5px; /* Add top margin */
  margin-bottom: 10px; /* Increase bottom margin */
  border-radius: 15px;
  font-size: 1rem;
  color: #333;
  line-height: 1;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 0 3px #6471fe; /* Create the ring effect with the specified color */
  transition: all 0.3s ease;
  outline: none; /* Remove default outline */
}


.crypto-input:focus {
  border-color: #6471fe;
  box-shadow: 0 0 5px rgba(100, 113, 254, 0.5);
}

/* Floating label styling */
.input-container label {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #aaa;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.crypto-input:focus + label,
.crypto-input:not(:placeholder-shown) + label {
  top: -8px;
  left: 12px;
  font-size: 0.875rem;
  color: #6471fe;
  background: #fff;
  padding: 0 5px;
}

/* Button styling */
.crypto-button {
  width: 40%;
  padding: 10px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: #fff;
  border: none;
  border-radius: 50px; /* More rounded button */
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-align: center; /* Center-align button text */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  transition: all 0.3s ease;
  margin-top: 10px;
}

.crypto-button:hover {
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  box-shadow: 0 0 10px rgba(37, 117, 252, 0.5);
}

/* Analysis results styling */
.analysis-results {
  margin-top: 10px;
  width: 100%;
  padding: 10px; /* Increase padding */
  text-align: left; /* Left-align text for better readability */
  /*color: #333; /* Darker text for analysis results */
  /*background-color: rgba(255, 255, 255, 0.75); /* Glassmorphism background */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
  border-radius: 10px; /* Add border radius */
  box-sizing: border-box; /* Ensure padding is included in element's total width and height */
  margin-bottom: 40px;
}

/* Paragraph styling within analysis results */
.analysis-results p {
  margin: 5px 0; /* Reduce vertical margin */
  line-height: 1.5; /* Increase line height */
}

/* Disclaimer text styling */
.analysis-results .disclaimer {
  font-size: 0.875rem;
  /*color: #666; */
}

/* GIF container */
.gif-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100px; /* Adjust the max width to reduce the size */
  margin: 0 auto;
  position: relative;
  top: 3%; /* Move the GIF upwards */
}

@media (max-width: 600px) {
  /* Adjustments for small screens */
  .ai-title {
    font-size: 1.2rem;
  }

  .ai-intro, .crypto-analysis, .analysis-results {
    padding: 10px;
  }

  .crypto-button {
    padding: 10px;
  }

  .analysis-results {
    padding: 10px;
  }
}
