.small-robot-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-robot-icon {
  width: 30px; /* Smaller size for very small screens */
  height: 30px;
}

@media (min-width: 360px) { /* Small screens */
  .small-robot-icon {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 480px) { /* Slightly larger small screens */
  .small-robot-icon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 640px) { /* Medium screens */
  .small-robot-icon {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) { /* Large screens */
  .small-robot-icon {
    width: 60px;
    height: 60px;
  }
}

.red-dot {
  position: absolute;
  top: 6%; /* Adjust this value to position the red dot correctly */
  right: 75%; /* Adjust this value to position the red dot correctly */
  transform: translate(50%, -50%);
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  z-index: 1003;
}

.robot-gif {
  width: 60px;
  height: 60px;
}

.notification-text {
  position: fixed;
  top: 12%; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6rem; /* Adjust as needed to fit screen */
  color: #E2DFD2; /* Adjust as needed */
  z-index: 1002;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  padding: 3px 5px; /* Padding to prevent text from touching the border, adjusted size */
  border: 1px solid #ccab3a; /* Blue ring */
  border-radius: 25px; /* Rounded corners to create a ring effect, adjusted size */
}

.notification-text::after {
  content: '|'; /* Cursor effect */
  animation: blink-caret 1s step-end infinite; /* Cursor blink animation */
  margin-left: 2px;
  color: red; /* Red cursor */
}

@keyframes blink-caret {
  from, to { opacity: 0; }
  50% { opacity: 1; } /* Adjust cursor blink */
}

.content {
  transition: margin-top 0.2s;
}
